button,
input {
  font-family: inherit;
  font-size: 100%;
  /* Box Sizing */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 150px;
  text-align: left;
}

input {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  width: 50%;

  /* Match form field borders */
  border: 1px solid #999;
}

button:focus {
  outline: 4px solid green;
}

.meme-container {
  width: 500px;
  height: 300px;
}

.meme-div {
  position: relative;
}

.meme-container > img {
  width: 500px;
  height: 300px;
}

.top-text,
.bottom-text {
  font-family: "Oswald", sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
  position: absolute;
  font-size: 40px;
}

.top-text {
  top: 1%;
  left: 20%;
}

.bottom-text {
  bottom: 1%;
  left: 20%;
}
